@use "../abstracts/" as *;
@use "../base/" as *;

@mixin btn($bg-color: #e2e2e2) {
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: $bg-color;
  transition: all 0.2s ease;
}

.btn {
  @include btn;
}

@each $key, $val in $colors {
  .btn-full-#{$key} {
    @include btn($val);

    &:hover {
      background-color: lighten($val, 5);
    }
  }
  .btn-outlined-#{$key} {
    @include btn(#ffffff);
    border: 1px solid $val;

    &:hover {
      background-color: $val;
    }
  }

  .btn-complement-light-#{$key} {
    @include btn($val);
    color: light-comp($val);
    border: 1px solid $val;

    &:hover {
      color: $val;
      background-color: light-comp($val);
    }
  }

  .btn-complement-dark-#{$key} {
    @include btn($val);
    color: dark-comp($val);
    border: 1px solid $val;

    &:hover {
      color: $val;
      background-color: dark-comp($val);
    }
  }
}
