@use "../abstracts/" as *;
@use "../base/" as *;

%flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.navbar {
  @extend %flex-layout;

  padding: $base-padding $base-padding * 2;
  box-shadow: $base-box-shadow;

  .site-title {
    font-size: $font-size-lg;
  }

  .container {
    @extend %flex-layout;
    justify-content: space-between;
  }
}

.links {
  width: 100%;
  // background-color: red;
}

.active {
  color: red;
}
